.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}
.task-entry {
    background: #eee;
    border-top: 1px solid #eee;
}
.task-entry:hover {
    background: #e1e1e1;
    border-left: 6px solid #ff0000;
}