<div id="list" class="pure-u-1">
    <div id="entries email-item pure-g task-entry" class="search-entry">
        <span class="glyphicon glyphicon-search pure-u-1-24"></span>
        <input class="pure-u-22-24" ng-model="searchEntry" placeholder="Search" />
    </div>
    <div class="email-item email-item-selected pure-g task-entry" ng-repeat="entry in listEntries | orderBy:predicate:reverse | filter:searchEntry" ng-click="getTaskDetails(entry)">
        <!-- TODO replace with an icon of some sort.
        <div class="pure-u">
            <img class="email-avatar" alt="Tilo Mitra&#x27;s avatar" height="64" width="64" src="img/common/tilo-avatar.png">
        </div> -->


        <div class="pure-u-3-4">
            <!-- <h5 class="email-name">Tilo Mitra</h5> -->
            <h4 class="email-subject">Name:{{entry.name}}</h4>
            <p class="email-desc">
                Description: {{entry.description}}
            </p>
        </div>
    </div>
</div>




<!-- <div class="email-content" ng-controller="TaskRunCtrl"> -->
<div class="email-content">
    <div ng-include="task-list-detail-part.html"></div>
    <div class="pure-g">
        <h1 class="pure-u-1-24"></h1>
        <h1 class="pure-u-15-24 detail-name">{{taskDetail.name}}</h1>
    </div>
    <div class="pure-g">
        <div class="pure-u-2-24"></div>
        <p class="pure-u-14-24 detail-description">{{taskDetail.commandString}}</p>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-2-24"></div>
    <p class="pure-u-14-24 detail-description">{{taskDetail.description}}</p>
    <div class="pure-g" ng-show="taskDetail.nameToType">
        <div class="pure-u-2-24"></div>
        <div class="pure-u-14-24 task-data-input">
            <table class="pure-table pure-table-horizontal pure-table striped">
                <thead>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr ng-repeat="currVal in taskDetail.nameToTypeAndValue">
                        <td>{{currVal.fieldName}}</td>
                        <td>{{currVal.type}}</td>
                        <td>
                            <input type="text" ng-model="currVal.value">
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="file" id="fileInput">
            <button type="submit" ng-click="runTask(taskDetail)" class="pure-button pure-button-primary">
                Run task
            </button>
        </div>
    </div>
</div>