<div id="list" class="pure-u-1">
    <div class="email-item email-item-selected pure-g task-entry" ng-repeat="entry in listEntries | orderBy:predicate:reverse | filter:searchEntry">
        <!-- TODO replace with an icon of some sort.
        <div class="pure-u">
            <img class="email-avatar" alt="Tilo Mitra&#x27;s avatar" height="64" width="64" src="img/common/tilo-avatar.png">
        </div> -->

        <div class="pure-u-3-4">
            <!-- <h5 class="email-name">Tilo Mitra</h5> -->
            <h4 class="email-subject">Name:{{entry.name}}</h4>
            <p class="email-desc">
                Description: {{entry.description}}
            </p>
        </div>
    </div>
</div>



<div class="email-content">
    <div id="entries">
        <input ng-model="searchEntry" placeholder="Search" />
    </div>
</div>